wsdlALL/Calculadora.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8081/axis/Calculadora.jws" xmlns:intf="http://localhost:8081/axis/Calculadora.jws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8081/axis/Calculadora.jws">
	<wsdl:message name="restarResponse">
		<wsdl:part name="restarReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="restarRequest">
		<wsdl:part name="x" type="xsd:int"/>
		<wsdl:part name="y" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="mulResponse">
		<wsdl:part name="mulReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="mulRequest">
		<wsdl:part name="x" type="xsd:int"/>
		<wsdl:part name="y" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="sumarRequest">
		<wsdl:part name="x" type="xsd:int"/>
		<wsdl:part name="y" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="sumarResponse">
		<wsdl:part name="sumarReturn" type="xsd:int"/>
	</wsdl:message>
	<wsdl:portType name="Calculadora">
- <wsdl:operation name="sumar" parameterOrder="x y">
			<wsdl:input name="sumarRequest" message="impl:sumarRequest"/>
			<wsdl:output name="sumarResponse" message="impl:sumarResponse"/>
		</wsdl:operation>
- <wsdl:operation name="restar" parameterOrder="x y">
			<wsdl:input name="restarRequest" message="impl:restarRequest"/>
			<wsdl:output name="restarResponse" message="impl:restarResponse"/>
		</wsdl:operation>
- <wsdl:operation name="mul" parameterOrder="x y">
			<wsdl:input name="mulRequest" message="impl:mulRequest"/>
			<wsdl:output name="mulResponse" message="impl:mulResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalculadoraSoapBinding" type="impl:Calculadora">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/> 
- <wsdl:operation name="sumar">
			<wsdlsoap:operation/> 
- <wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
			</wsdl:input>
- <wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8081/axis/Calculadora.jws"/>
			</wsdl:output>
		</wsdl:operation>
- <wsdl:operation name="restar">
			<wsdlsoap:operation/> 
- <wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
			</wsdl:input>
- <wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8081/axis/Calculadora.jws"/>
			</wsdl:output>
		</wsdl:operation>
- <wsdl:operation name="mul">
			<wsdlsoap:operation/> 
- <wsdl:input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace"/>
			</wsdl:input>
- <wsdl:output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8081/axis/Calculadora.jws"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CalculadoraService">
- <wsdl:port name="Calculadora" binding="impl:CalculadoraSoapBinding">
			<wsdlsoap:address location="http://localhost:8081/axis/Calculadora.jws"/>
		</wsdl:port>
	</wsdl:service>
- <!-- 
WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)

  --> 
- 
- 
- 
- 
- 
- 
- 
- 
- </wsdl:definitions>
